.jumbotron{
    background-size: cover ;
    background-repeat: no-repeat;
}
.container-fluid{
    background-color: red;
}
.header-title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 100px 0 20px 0;
}
.header-desc{
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
}
.header-btn{
    padding-bottom: 150px;
}


.container-fluid1{
    padding-left: 60px;
    padding-right: 900px;
    padding-bottom: 40px;
}


